body{
  margin: 0;
  padding:0;
  background-image: url('waves-1867285_1920.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  /* background: -webkit-linear-gradient(to right, #ffc371,#ff5f6d);
  background: linear-gradient(to right,#ffc371,#ff5f6d) */
}
/* #FF5F6D
#ffc371,#ff5f6d
#ffc371,#ff5f6d */
.fix{
  clear: both;
  overflow: hidden;
}
#nav-bar{
  position: relative;
  top: 0;
  width: 100%;
  height: 94avh;

}
.navbar-brand{
  font-size: 30px;
  padding: 10px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{ 
  float: right;
  text-align: left;
  padding-top: 10px ;
  padding-bottom: 10px ;
  padding-right: 10px ;
  padding-left: 10px ;
}
#nav-bar ul li a:hover{
  background-color:orange;
}
#nav-bar ul .nav-itema a{
  background-color:orange;
  color: black;
}
.navbar-toggler{
  border: none !important;
}
.nav-link{
  color: black;
  font-size: 16px;
}
.form-inline .button{
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background:orange;
}
.row{
  display: flex;
  height: 88%;
  align-items: center;
}
.col{
  margin-left: 80px;
}
#nav-bar .row .col h1{
  color: white;
  font-size: 70px;
}
#nav-bar .row  .col p{
  color: white;
  font-size: 25px;
  line-height: 15px;
}
.btn1{
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 30px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.btn1:hover{
  color: orange;
}
.btn1::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
} 
.btn8::before{
  transform: scaleX(0);
}
.btn8:hover::before{
  transform: scaleX(1);
} 


.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.671);
  box-sizing:border-box;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2{
  color: white;
  text-align: center;
  margin: 0 0 50px;
  padding: 0;
}

.box .inputBox{
  position: relative;
}
.box .inputBox input{
  width: 100%;
  padding: 10px 0;
  font-size:16px;
  color: white;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid white;
  outline:none;
  background: transparent;

}

.box .inputBox input:hover{
  border-bottom:1px solid orange;
}

.box .inputBox label{
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding:10px;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
  top: -20px;
  left: 0;
  color: orange;
  font-size: 12px;
}
.check-box{
  margin:10px;
}
.box input[type="submit"]
{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  background: orange;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
.box input[type="submit"]:hover{
  background: rgb(235, 155, 8);
}
.box i{
  position: absolute;
  font-size: 16px;
  color: grey;
  margin: 15px 0 0 -30px;
}
.remember{
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}
.box p{
  text-decoration: none;
  font-size: 13px;
  color: rgb(160, 155, 155);
  top: 20px;

}
.box p a{
  text-decoration: none;
  font-size: 13px;
  color: rgb(160, 155, 155);
  top: 20px;
}





